.pf-index {
  position: relative;
  left: 10px;
  height: 250px;
  width: 20%;
  background-color: #303030;
  z-index: -1;

}
/* clip-path: polygon(0 0, 100% 0, 100% 35%, 100% 47%, 100% 58%, 100% 100%, 0 100%, 0 40%, 10% 30%, 0 20%); */

.pf-child {
  position: relative;
  left: 10px;
  height: 250px;
  width: 20%;
  background-color: #797979;
  z-index: -20;
  margin-left: 1px;
  clip-path: polygon(0 0, 100% 0, 100% 18%, 100% 32%, 100% 58%, 100% 100%, 0 100%, 0 40%, 10% 30%, 0 20%);

}

.inside {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
}

.inside-normal {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
}

i {
  font-size: 3rem !important;
  color: aliceblue;
  font-weight: 600;
}

.pf-section {
  
}